@font-face {
  font-family: 'fontGame';
  src: url('../font/Pony.ttf');
}

.bookingMovie {
  font-family: 'fontGame';
  background-image: url(/bgmovie.jpg) no-repeat center center;
}

.gridSeat {
  display: grid;
  text-align: center;
  font-weight: bold;
}
.content {
  font-family: 'fontGame';
  font-weight: bold;
  color: orange;
}
.content h1{
  margin-left: 115px;
  margin-top: 22px;
}

.content h5{
  margin-left: 420px;
}
.ghe {
  border: 3px solid orange;
  width: 45px;
  height: 35px;
  font-size: 12px;
  border-radius: 5px;
}
.transparent-background{
  background: rgba(6, 6, 6, 0.5);
  padding:80px;
}
.rowSeat {
  margin-right: -1px;
  /* border: 1px solid brown; */
}
.rowNumber {
  /* font-size: 25px; */
  width: 45px;
  height: 35px;
  background: none;
  border: none;
  margin-left: 35px;
  margin-bottom: 22%;
  font-size: 30px;
  color: yellow;
}
.rowNumberOfSeat {
  /* font-size: 25px; */
  width: 45px;
  height: 35px;
  background: none;
  border: none;
  margin-left: -5px;
  font-size: 30px;
  color: yellow;
}

input[type='checkbox'] {
  width: 13px;
  margin-right: 14px;
  cursor: pointer;
  margin-bottom: 36px;
}

input[type='checkbox']:before {
  content: '';
  width: 45px;
  height: 35px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  border: 3px solid #ff9800;
  box-shadow: inset 0px 2px 3px 0px rgba(0, 0, 0, 0.3), 0px 1px 0px 0px rgba(255, 255, 255, 0.8);
  -moz-box-shadow: inset 0px 2px 3px 0px rgba(0, 0, 0, 0.3),
    0px 1px 0px 0px rgba(255, 255, 255, 0.8);
  -webkit-box-shadow: inset 0px 2px 3px 0px rgba(0, 0, 0, 0.3),
    0px 1px 0px 0px rgba(255, 255, 255, 0.8);
  background-color: #ffffff;
}



input[type='checkbox']:disabled:before {
  background-color: Red;
  font-size: 15px;
}

.spanNumberSeat{
  position: relative;
  top: -13px;
  left: 28px;
  cursor: pointer;
  font-size: 10px;
}
.firstChar {
  color: yellow;
  font-size: 35px;
  width: 45px;
  margin-left: 2%;
  margin-bottom: 20px;
  margin-top: 20px;
}

.screen {
  border-bottom: 50px solid rgb(255, 159, 95);
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
  height: 100;
  width: 100%;
  filter: drop-shadow(4px 30px 20px rgba(255, 255, 255, 0.5));
  font-size: 25px;
  color: #fff;
}

.seat {
  background-color: green !important;
}

.listChoice{
  color: white !important;
}
.listChoice h1{
  font-size:35px;
}
ul.seat_w3ls {
  margin: 2em 0;
}

ul li{
  text-decoration: none;

}
.smallBox::before {
  content: '';
  width: 15px;
  height: 15px;
  display: inline-block;
  margin-right: 10px;
}

.greenBox::before {
  content: '';
  background: Green;
}

.redBox::before {
  content: '';
  background: Red;
}
.emptyBox::before {
  content: '';
  background: rgb(255, 255, 255);
}